@page "/"

<MudGrid>
    <MudItem Class="relative" xs="12" md="12" lg="12">
        <MudText Typo="Typo.h3">Intelligent Problem Recorder</MudText>
        <div class="pl-1 my-4">
            <MudText Typo="Typo.subtitle1" Class="mud-text-secondary">
                Smart AI solution for recording and troubleshooting issues.
            </MudText>
        </div>
        <div class="d-flex py-4 mb-16 mb-md-0">
            <MudFab Color="Color.Primary" StartIcon="@Icons.Material.Filled.Bookmark" Label="Get started" Href="/recorder" />
        </div>
    </MudItem>
</MudGrid>